In [11]:
import pandas as pd
import nba_api as nba
from nba_api.stats.static import teams
from nba_api.stats.static import players
from nba_api.stats.endpoints import teampgamelog

In [14]:
pd.DataFrame(teams.get_teams())

,abbreviation,city,full_name,id,nickname,state,year_founded
0,ATL,Atlanta,Atlanta Hawks,1610612737,Hawks,Atlanta,1949
1,BOS,Boston,Boston Celtics,1610612738,Celtics,Massachusetts,1946
2,CLE,Cleveland,Cleveland Cavaliers,1610612739,Cavaliers,Ohio,1970
3,NOP,New Orleans,New Orleans Pelicans,1610612740,Pelicans,Louisiana,2002
4,CHI,Chicago,Chicago Bulls,1610612741,Bulls,Illinois,1966
5,DAL,Dallas,Dallas Mavericks,1610612742,Mavericks,Texas,1980
6,DEN,Denver,Denver Nuggets,1610612743,Nuggets,Colorado,1976
7,GSW,Golden State,Golden State Warriors,1610612744,Warriors,California,1946
8,HOU,Houston,Houston Rockets,1610612745,Rockets,Texas,1967
9,LAC,Los Angeles,Los Angeles Clippers,1610612746,Clippers,California,1970
10,LAL,Los Angeles,Los Angeles Lakers,1610612747,Lakers,California,1948
11,MIA,Miami,Miami Heat,1610612748,Heat,Florida,1988
12,MIL,Milwaukee,Milwaukee Bucks,1610612749,Bucks,Wisconsin,1968
13,MIN,Minnesota,Minnesota Timberwolves,1610612750,Timberwolves,Minnesota,1989
14,BKN,Brooklyn,Brooklyn Nets,1610612751,Nets,New York,1976
15,NYK,New York,New York Knicks,1610612752,Knicks,New York,1946
16,ORL,Orlando,Orlando Magic,1610612753,Magic,Florida,1989
17,IND,Indiana,Indiana Pacers,1610612754,Pacers,Indiana,1976
18,PHI,Philadelphia,Philadelphia 76ers,1610612755,76ers,Pennsylvania,1949
19,PHX,Phoenix,Phoenix Suns,1610612756,Suns,Arizona,1968
20,POR,Portland,Portland Trail Blazers,1610612757,Trail Blazers,Oregon,1970
21,SAC,Sacramento,Sacramento Kings,1610612758,Kings,California,1948
22,SAS,San Antonio,San Antonio Spurs,1610612759,Spurs,Texas,1976
23,OKC,Oklahoma City,Oklahoma City Thunder,1610612760,Thunder,Oklahoma,1967
24,TOR,Toronto,Toronto Raptors,1610612761,Raptors,Ontario,1995
25,UTA,Utah,Utah Jazz,1610612762,Jazz,Utah,1974
26,MEM,Memphis,Memphis Grizzlies,1610612763,Grizzlies,Tennessee,1995
27,WAS,Washington,Washington Wizards,1610612764,Wizards,District of Columbia,1961
28,DET,Detroit,Detroit Pistons,1610612765,Pistons,Michigan,1948
29,CHA,Charlotte,Charlotte Hornets,1610612766,Hornets,North Carolina,1988

In [16]:
pd.DataFrame(players.get_players())

     first_name            full_name       id     last_name
0          Alaa       Alaa Abdelnaby    76001     Abdelnaby
1          Zaid      Zaid Abdul-Aziz    76002    Abdul-Aziz
2        Kareem  Kareem Abdul-Jabbar    76003  Abdul-Jabbar
3       Mahmoud   Mahmoud Abdul-Rauf       51    Abdul-Rauf
4         Tariq    Tariq Abdul-Wahad     1505   Abdul-Wahad
5       Shareef  Shareef Abdur-Rahim      949   Abdur-Rahim
6           Tom        Tom Abernethy    76005     Abernethy
7        Forest          Forest Able    76006          Able
8          John       John Abramovic    76007     Abramovic
9          Alex         Alex Abrines   203518       Abrines
10         Alex           Alex Acker   101165         Acker
11       Donald      Donald Ackerman    76008      Ackerman
12         Mark           Mark Acres    76009         Acres
13      Charles        Charles Acton    76010         Acton
14       Quincy           Quincy Acy   203112           Acy
15        Alvan          Alvan Adams    76011         Adams
16          Don            Don Adams    76012         Adams
17       Hassan         Hassan Adams   200801         Adams
18       Jaylen         Jaylen Adams  1629121         Adams
19       Jordan         Jordan Adams   203919         Adams
20      Michael        Michael Adams      149         Adams
21       Steven         Steven Adams   203500         Adams
22       Rafael       Rafael Addison      912       Addison
23          Bam          Bam Adebayo  1628389       Adebayo
24         Rick         Rick Adelman    76015       Adelman
25         Jeff          Jeff Adrien   202399        Adrien
26        Arron        Arron Afflalo   201167       Afflalo
27      Maurice         Maurice Ager   200772          Ager
28         Mark         Mark Aguirre    76016       Aguirre
29        Blake         Blake Ahearn   201336        Ahearn
...         ...                  ...      ...           ...
4344      James          James Young   203923         Young
4345        Joe            Joe Young  1626202         Young
4346   Korleone       Korleone Young     1748         Young
4347    Michael        Michael Young    78634         Young
4348       Nick           Nick Young   201156         Young
4349      Perry          Perry Young    78635         Young
4350        Sam            Sam Young   201970         Young
4351   Thaddeus       Thaddeus Young   201152         Young
4352        Tim            Tim Young     1937         Young
4353       Trae           Trae Young  1629027         Young
4354        Max        Max Zaslofsky    78638     Zaslofsky
4355     Robert       Robert Zawoluk    78639       Zawoluk
4356       Cody          Cody Zeller   203469        Zeller
4357       Dave          Dave Zeller    78640        Zeller
4358       Gary          Gary Zeller    78641        Zeller
4359       Hank          Hank Zeller    78642        Zeller
4360       Luke          Luke Zeller   202545        Zeller
4361      Tyler         Tyler Zeller   203092        Zeller
4362       Tony            Tony Zeno    78643          Zeno
4363       Phil     Phil Zevenbergen    78644   Zevenbergen
4364       Wang         Wang Zhi-zhi     1917       Zhi-zhi
4365     George         George Zidek      678         Zidek
4366    Derrick    Derrick Zimmerman     2583     Zimmerman
4367    Stephen    Stephen Zimmerman  1627757     Zimmerman
4368       Paul          Paul Zipser  1627835        Zipser
4369       Ante           Ante Zizic  1627790         Zizic
4370        Jim             Jim Zoet    78647          Zoet
4371       Bill            Bill Zopf    78648          Zopf
4372      Ivica          Ivica Zubac  1627826         Zubac
4373       Matt           Matt Zunic    78650         Zunic

[4374 rows x 4 columns]